[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restplus = {git = "https://github.com/Kevwas/flask-restplus.git"}

[dev-packages]

[requires]
python_version = "3.9"
